.header {
    font-family: 'open sans';
    font-size: xx-large;
    max-width: 60%;
    text-align: left;
    padding-left: 5%;
    padding-top: 25%;
    padding-bottom: 1%;
    display: flex;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1);
    animation-direction: reverse;
    animation-iteration-count: 1;
    padding-bottom: 5%; 
}


.header-animated {
    padding-bottom: 1%;
    font-family: 'open sans';
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 8s steps(40, end),
        blink-caret .75s step-end infinite;
    
}

.galleryImage {
    height: 35vh;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.projectDescriptionHeader{
    font-family: 'open sans';
    font-size: xx-large;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

@keyframes ping {
    75%, 100% {
      transform: scale(2);
      opacity: 0;
    }
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
.collapsible .content {
    padding: 6px;
    font-size: small;
    text-align: left;
}
.collapsible .heading {
    padding: 6px;
    cursor: pointer;
    font-size: small;
}

.jersey-text {
    padding-top: 5.5%;
}

.bakery-text {
    padding-top: 7%;

}

.about-me{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.headshot{
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 200px;
}

.text-left{
    text-align: left;
}
